#first-navbar {
    margin-bottom: 0;
}

.nav-fixed {
    min-height: 50px !important;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.nav-static {
    min-height: 80px !important;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.center-block{

    margin-left: auto;
    margin-right: auto;
}

.header-image{
    max-width: 110px;
    max-height: 65px;

}
.header-image-small{
    padding-top: 5px;
    max-width: 90px;
    max-height: 55px;

}

.footer{
    min-height: auto;
}
.userIcon-img {
    width: 40px;
    border-radius: 20px;
    background-color: aliceblue;
}
.helpContianerCTA {
    overflow: auto;
}
.helpContainer-user{
    overflow: auto;
    margin-bottom: 10px;
}
.helpContainer-user-label{
    float:left;
    margin-right: 15px;
}
.helpContainer-user-rating {
    float: left;
    margin-top: 10px;
}
.helpContainer-content {
    clear: both;
}