@import java.util
@import models.User
@import models.Help
@(alljobs: util.List[Help])

@for(p <- alljobs) {
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="userIcon-img" src="@routes.Assets.at("images/user_profile.png")" alt=""/>
      </a>
    </div>
    <div class="media-body">
      <div class="helpContainer-user">
        <a href="/users/@p.owner.login" class="helpContainer-user-label"><h7>@p.owner.firstName</h7></a>
        <div class="helpContainer-user-rating">
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h6 class="help-container-header">@p.name</h6>
          <h6 class="help-container-header-price">@p.price €</h6>
        </div>
        <div class="panel-body">
          <div class="bs-callout bs-callout-default helpContainer-content">
            <p>Category: @p.category.name</p>
            <p>@p.description</p>
          </div>

          <div class="helpContianerCTA">
            <a class="btn btn-primary pull-right" href="/help/@p.id">go to Ad</a>
          </div>
        </div>
      </div>

    </div>
  </div>
}
