 <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="userIcon-img" src="http://iconbug.com/data/a3/256/a343e5df164320588399a4fabe9708c0.png" alt=""/>
      </a>
    </div>
    <div class="media-body">
      <div class="helpContainer-user">
        <a href="#" class="helpContainer-user-label"><h6>User ABC</h6></a>
        <div class="helpContainer-user-rating">
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Helping Job Title</h4>
        </div>
        <div class="panel-body">
          <div class="bs-callout bs-callout-default helpContainer-content">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</p>
          </div>

          <div class="helpContianerCTA">
            <button type="button" class="btn btn-primary pull-right">go to Ad</button>
          </div>
        </div>
      </div>


    </div>
  </div>
