@(title: String)


<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/flat-ui.css"))'>
  </head>
  <body>
    @navBar()
    <div class="container">
      <div class="row">
        <div class="col-md-6">Helpie-Searcher</div>

        <div class="col-md-6">
          <h3>Example heading <span class="label label-default">New</span></h3>
        </div>
      </div>
    </div>
    @helper.form(action = routes.Users.signIn()){
      <input name="login"/>
      <input name="password"/>
      <input type="submit"/>
    }
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
  </body>
</html>
