@(title: String)

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.css"))'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/FlatUI2.css")">
    <link rel="" media="screen" href="@routes.Assets.at("flat-ui-icons-regular.svg")">


  </head>
  <body>
    @navBar()

    <div class="col-md-4">

    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="tile">
          @*<div class="login-form">*@
          @helper.form(action = routes.Users.signIn()){



            <div class="form-group">
              <div class="input-group">
                <input name="login" type="text" class="form-control login-field" value="" placeholder="Enter your name" id="login-name">
                @*<span class="login-field-icon fui-user"></span>*@
                @*<label class="login-field-icon fui-user" for="login-name"></label>*@
                <div class="input-group-addon"><span class="login-field-icon glyphicon glyphicon-user"></span></div>
              </div>
              <br>
            <div class="input-group">
              <input name="password" type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass">
              <div class="input-group-addon"><span class="login-field-icon glyphicon glyphicon-lock"></span></div>
              @*<label class="login-field-icon glyphicon glyphicon-lock" for="login-pass"></label>*@
            </div>
              <br>

            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Log in"/>
            <a class="login-link" href="#">Lost your password?</a>
            <div class="form-group">

              <a class="btn btn-primary btn-lg btn-block btn-info" action="register" href="register">Register</a>
              <a class="btn btn-primary btn-lg btn-block" action="profile" href="profile">Account</a>
            </div>
          </div>
          }
        @*</div>*@
      </div>
    <div class="col-md-3">

    </div>



    <div class="col-xs-12 col-sm-4 col-md-3"></div>

      <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
    <link rel="stylesheet" href='@routes.Assets.at("HelpiesStyles.css")' >
    <script type='text/javascript' src='@routes.Assets.at("HelpiesJavaScripts.js")' ></script>
  </body>
</html>

@footer()