@import java.util
@import models.User
@import models.Help
@(lastjobs: util.List[Help], lasthelps: util.List[User])(content: Html)

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Helpies</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.less")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.js"))'></script>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.css"))'>
        <link rel="stylesheet" href='@routes.Assets.at("HelpiesStyles.css")' >
        <script type='text/javascript' src='@routes.Assets.at("HelpiesJavaScripts.js")' ></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/FlatUI2.css")">
        @*<link rel="stylesheet" media="screen" href="@routes.Assets.at(WebJarAssets.locate("flat-ui.css"))>*@
        @*<link rel="" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("flat-ui-icons-regular.svg"))">*@

    </head>
    <body>
        @*<div style="height: 50px"></div>*@
        @navBar()

        <nav class="navbar navbar-inverse navbar-static-top nav-static" id="second-navbar">
            <div class="container">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav navbar-left">
                    <li ><a href="#" class ="glyphicon glyphicon-bell">Find Jobs</a></li>
                    <li><a href="#" class ="glyphicon glyphicon-bookmark">Post Jobs</a></li>
                </ul>
                <a href="/" class=""><img src='@routes.Assets.at("helpies3transparent.png")'  class="header-image" id="headerImg" ></a>
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="#" class ="glyphicon glyphicon-user">Find Helpies</a></li>
                    <li><a href="#" class ="glyphicon glyphicon-scissors"> Post Help</a></li>
                </ul>

            </div>
        </nav>

        <div class="container" >
        <div class=" col-md-6">
                <!-- <div class="bg-primary" -->
            <div class="tile">
                <br> some random content
                <br> some random content
                <br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content


            </div>
            <div class="tile">
                <br> other random content
                <br> other random content
                <br> other random content
                <br> other random content <br> other random content
                <br> other random content <br> other random content


            </div>

        </div>
        <div class="col-md-6">
                <!-- <div class="bg-primary" -->
            <div class="tile">

                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
                <br> some random content<br> some random content
            </div></div>
</div>

@footer()
    </body>
</html>
