@import java.util
@import models.User
@import models.Help
@(lastjobs: util.List[Help], lasthelps: util.List[User])(content: Html)

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Helpies</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.less")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.js"))'></script>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.css"))'>
        <link rel="stylesheet" href='@routes.Assets.at("HelpiesStyles.css")' >
        <script type='text/javascript' src='@routes.Assets.at("HelpiesJavaScripts.js")' ></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/FlatUI2.css")">
        @*<link rel="stylesheet" media="screen" href="@routes.Assets.at(WebJarAssets.locate("flat-ui.css"))>*@
        @*<link rel="" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("flat-ui-icons-regular.svg"))">*@

    </head>
    <body>
        @*<div style="height: 50px"></div>*@
        @navBar()
    <div class="row" >
        <div class="col-xs-1 col-sm-1 col-md-1"></div>
    <div class="col-xs-4 col-sm-4 col-md-4">
            <!-- <div class="bg-primary" -->

            @for(p <- lastjobs) {
                <div class=" tile">
                    <div class="tile-title">
                        @p.name

                    </div>
                    <div class="tile-hot">
                       Category: @p.category.name

                    </div>
                </div>
            }

    </div>
        <div class="col-xs-1 col-sm-1 col-md-1"></div>
    <div class="col-xs-4 col-sm-4 col-md-4">
            @for(s <- lasthelps){
                <div class="tile">
                    <div class="tile-title">
                        @s.firstName @s.lastName
                    </div>
                </div>
            }

</div>
</div>

        @footer()
    </body>
</html>
