<nav class="navbar navbar-default navbar-static-top" id="first-navbar">
    <div class="container">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">helpies.com</a>

        <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>

        <form class="nav navbar-form navbar-right " action="index" href="index" role="search">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control search"  type="search" placeholder="Search">
                    <span class="input-group-btn">
                        <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>

        </form>

        <ul class="nav navbar-nav navbar-right">
            <li ><a action="signIn" href="signIn" class ="glyphicon glyphicon-log-in"> Login </a></li>
        </ul>

    </div>
</nav>
