@(title: String)

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/FlatUI2.css")">
        <link rel="" media="screen" href="@routes.Assets.at("flat-ui-icons-regular.svg")">


    </head>
    <body>
        @navBar()
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputImage" class="col-sm-5 control-label">Image :</label>
                <div class="col-sm-3">
                    <img src="@routes.Assets.at("images/user_profile.png")" alt="User profile" class="img-rounded"
                    id="inputImage" style="width:100px;height:100px">
                </div>
            </div>

            <div class="form-group">
                <label for="inputUsername" class="col-sm-5 control-label">Username :</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputUsername" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPass" class="col-sm-5 control-label">Password :</label>
                <div class="col-sm-2">
                    <input type="password" class="form-control" id="inputPass" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPass2" class="col-sm-5 control-label">Confirm password :</label>
                <div class="col-sm-2">
                    <input type="password" class="form-control" id="inputPass2" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="inputFname" class="col-sm-5 control-label">First name :</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputFname" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="inputSname" class="col-sm-5 control-label">Last name :</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="inputSname" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label for="inputDescrip" class="col-sm-5 control-label">Description :</label>
                <div class="col-sm-3">
                    <textarea class="form-control" rows="3" placeholder="About you are"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputSkill" class="col-sm-5 control-label">Skills :</label>
                <div class="col-sm-3">
                    <select multiple id="inputSkill" class="col-sm-5 form-control">
                        <option>Plumber</option>
                        <option>Gardener</option>
                        <option>Computing</option>
                        <option>Lawyer</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputArea" class="col-sm-5 control-label">Area :</label>
                <div class="col-sm-3">
                    <select id="inputArea" class="col-sm-5 form-control">
                        <option>Germany</option>
                        <option>Greece</option>
                        <option>Spain</option>
                        <option>USA</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-7 col-sm-10">
                    <button type="submit" class="btn btn-default btn-primary">Register</button>
                </div>
            </div>
        </form>

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
        <link rel="stylesheet" href='@routes.Assets.at("HelpiesStyles.css")' >
        <script type='text/javascript' src='@routes.Assets.at("HelpiesJavaScripts.js")' ></script>
    </body>
</html>
