@import java.util

@(user: User)

<div class="form-horizontal">
  <div class="form-group">
    <label for="inputImage" class="col-sm-5 control-label">Image :</label>
    <div class="col-sm-3">
      <img src="@routes.Assets.at("images/user_profile.png")" alt="User profile" class="img-rounded"
      id="inputImage" style="width:100px;height:100px">
    </div>
  </div>

  <div class="form-group">
    <label for="inputUsername" class="col-sm-5 control-label">Username :</label>
    <div class="col-sm-2">
      <input name="login" type="text" class="form-control" id="inputUsername" placeholder="" value=@user.login>
    </div>
  </div>
  @if(!session.contains("login")){
    <div class="form-group">
      <label for="inputPass" class="col-sm-5 control-label">Password :</label>
      <div class="col-sm-2">
        <textarea name="hashPass" type="password" class="form-control" id="inputPass"  placeholder=""></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPass2" class="col-sm-5 control-label">Confirm password :</label>
      <div class="col-sm-2">
        <textarea name="inputPass2" type="password" class="form-control" id="inputPass2"  placeholder=""></textarea>
      </div>
    </div>
  }
  <div class="form-group">
    <label for="inputFname" class="col-sm-5 control-label">First name :</label>
    <div class="col-sm-2">
      <textarea name="firstName" type="text" class="form-control" id="firstName" placeholder="">@user.firstName</textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="inputSname" class="col-sm-5 control-label">Last name :</label>
    <div class="col-sm-3">
      <textarea name="lastName" type="text" class="form-control" id="lastName" placeholder="">@user.lastName</textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="inputDescrip" class="col-sm-5 control-label">Description :</label>
    <div class="col-sm-3">
      <textarea name="description" type="text" class="form-control" id="description"  rows="3" placeholder="Say how you are">@user.description</textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="inputSkill" class="col-sm-5 control-label">Skills :</label>

      @if(session.contains("login")) {
        <div class="col-sm-3">
          <select name="skills[]" multiple class="col-sm-5 form-control">
          @for(category <- user.skills.toList) {
            <option name="skill" value="@category.id">@category.name</option>
          }
          </select>
        </div>

      } else{
        <div class="col-sm-3">
          @for((category, index) <- user.skills.zipWithIndex) {
            <input type="checkbox" name="skills" value="@category.id">@category.name <br>
            }
        </div>
      }

  </div>
  <div class="form-group">
    <label for="inputArea" class="col-sm-5 control-label">Area :</label>
    <div class="col-sm-3">
      <select name="area" id="inputArea" class="col-sm-5 form-control">
        <option>Germany</option>
        <option>Greece</option>
        <option>Spain</option>
        <option>USA</option>
      </select>
    </div>
  </div>
</div>