@import java.util


@(allNotifications:util.List[Notification], notification: Notification)

<div class="form-horizontal">

   @* @messageDetails(notification)*@

  <div class="form-group">
    <label for="inputDescrip" class="col-sm-3 control-label">List of Messages :</label>
    <div class="bs-example col-sm-3">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th width="300px">Subject</th>
            <th width="300px">From</th>
            <th width="300px">Date</th>
          </tr>
        </thead>
        <tbody>
        @for(n <- allNotifications){
            <tr>
              <th scope="row">@n.id</th>
              <td >@n.title</td>
              <td >@n.sender.lastName, @n.sender.firstName </td>
              <td >@n.creatingDate </td>
            </tr>
        }
        @*<tr>
          <th scope="row">1</th>
          <td width="3">This is the title</td>
          <td width="80">Suer, John</td>
          <td width="80">20-12-2015</td>

        </tr>*@
        </tbody>
      </table>
    </div>
  </div>
</div>
