@(user: User)

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
    <head>
        @head(title = "helpies.com")
        @*<link rel="stylesheet" media="screen" href="@routes.Assets.at(WebJarAssets.locate("flat-ui.css"))>*@
        @*<link rel="" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("flat-ui-icons-regular.svg"))">*@

    </head>
    <body>
@*<div style="height: 50px"></div>*@
@navBar()
        <div class="container">
            <div class="tile">
                <div class="tile-title"  >@user.firstName @user.lastName</div>
                <div class="tile"> @user.description</div>

            </div>
        </div>
    </body>

</html>